/* NAVBAR SUPERIOR */ 

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;

    background-color: white;
}

.navbar .navbar__logo-menu img:first-child {
    cursor: pointer;
    margin-right: 24px;
}

.navbar .navbar__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar .navbar__search input {
    width: 500px;
    padding: 10px 5px;

    border: 1px solid #cccccc;
}

.navbar .navbar__search button {
    padding: 8px 12px;

    background-color: #f8f8f8;
    border: 1px solid #cccccc;

    cursor: pointer;
}

.navbar .navbar__user ul {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;
}

.navbar .navbar__user ul li {
    cursor: pointer;
}